<script type="text/html" id="project-documentation-widget-template">
    <div class="right-pane-widget--container no-top-border project-documentation--container">
        <div class="item-dropdown-widget">
            <div class="item-dropdown--title">{@= name @}</div>
            <div class="item--dropdown">
                <div class="item--body">
                    <div class="item--body-title">
                        <div class="item--left-column">Release</div>
                        <div class="item--right-column">Documentation</div>
                    </div>
                    {@ _.each(releases, function(release) { @}
                    <div class="item--body--version">
                        <div class="item--left-column">
                            <p>{@= release.versionDisplayName @}</p>
                            {@ if(release.current) { @}
                                <div class="spring-icon spring-icon-current-version"></div>
                            {@ } @}
                            <div class="spring-icon {@= release.statusIconClass() @}"></div>
                        </div>
                        <div class="item--right-column">
                            <a href='{@= release.refDocUrl @}' class="docs-link reference-link">Reference</a>
                            <a href='{@= release.apiDocUrl @}' class="docs-link api-link">API</a>
                        </div>
                    </div>
                    {@ }); @}
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="project-download-widget-controls-template">
    <div class="js-download-widget-selector">
        <select class='selector selectpicker'>
            {@ _.each(releases, function(release, index) { @}
            <option value="{@= index @}"
                    data-content="
                        <span>{@= release.versionDisplayName @}</span>
                        {@ if(release.current) { @}
                            <div class='spring-icon spring-icon-current-version'></div>
                        {@ } @}
                        <div class='spring-icon {@= release.statusIconClass() @}'/>"
                    data-current="{@= release.current @}">
                ()
            </option>
            {@ }); @}
        </select>
    </div>

    <div class="item-slider-widget js-item-slider--wrapper">
        <div class="item-slider--container">
            <div class="item--slider js-item--slider"></div>
            <div class="item js-active js-item" data-snippet-type='maven'>
                Maven
            </div>
            <div class="item js-item" data-snippet-type='gradle'>
                Gradle
            </div>
        </div>
    </div>

</script>


{% capture maven_pom_template %}
{% include pom.xml %}
{% endcapture %}

{%if maven_pom_template contains 'not found in _includes directory' %}
{% capture maven_pom_template %}
<span class="nt">&lt;dependencies&gt;</span>
    <span class="nt">&lt;dependency&gt;</span>
        <span class="nt">&lt;groupId&gt;</span>{@= groupId @}<span class="nt">&lt;/groupId&gt;</span>
        <span class="nt">&lt;artifactId&gt;</span>{@= artifactId @}<span class="nt">&lt;/artifactId&gt;</span>
        <span class="nt">&lt;version&gt;</span>{@= version @}<span class="nt">&lt;/version&gt;</span>
    <span class="nt">&lt;/dependency&gt;</span>
<span class="nt">&lt;/dependencies&gt;</span>
{@ if (repository) { @}
<span class="nt">&lt;repositories&gt;</span>
    <span class="nt">&lt;repository&gt;</span>
        <span class="nt">&lt;id&gt;</span>{@= repository.id @}<span class="nt">&lt;/id&gt;</span>
        <span class="nt">&lt;name&gt;</span>{@= repository.name @}<span class="nt">&lt;/name&gt;</span>
        <span class="nt">&lt;url&gt;</span>{@= repository.url @}<span class="nt">&lt;/url&gt;</span>
        <span class="nt">&lt;snapshots&gt;</span>
            <span class="nt">&lt;enabled&gt;</span>{@= repository.snapshotsEnabled @}<span class="nt">&lt;/enabled&gt;</span>
        <span class="nt">&lt;/snapshots&gt;</span>
    <span class="nt">&lt;/repository&gt;</span>
<span class="nt">&lt;/repositories&gt;</span>
{@ } @}
{% endcapture %}
{% endif %}

<script type="text/html" id="project-download-maven-widget-template">{{ maven_pom_template }}</script>

{% capture gradle_template %}
{% include build.gradle %}
{% endcapture %}

{%if gradle_template contains 'not found in _includes directory' %}
{% capture gradle_template %}
<span class="n">dependencies&nbsp;</span><span class="o">{</span>
    <span class="n">compile&nbsp;</span><span class="s1">'{@= groupId @}:{@= artifactId @}:{@= version @}'</span>
<span class="o">}</span>
{@ if (repository) { @}
<span class="n">repositories&nbsp;</span><span class="o">{</span>
    <span class="n">maven&nbsp;</span><span class="o">{</span>
        <span class="n">url&nbsp;</span><span class="s1">'{@= repository.url @}'</span>
    <span class="o">}</span>
<span class="o">}</span>
{@ } @}
{% endcapture %}
{% endif %}

<script type="text/html" id="project-download-gradle-widget-template">{{ gradle_template }}</script>

<script type="text/html" id="project-download-zip-widget-template">
This is a zip url
</script>